{:libraries {:maven [clj-time/clj-time
                     honeysql/honeysql
                     metosin/spec-tools
                     org.clojure/java.jdbc]
             :local []
             :git   []}}
