
{:alias      "rb"
 :components ["article"
              "comment"
              "database"
              "env"
              "log"
              "profile"
              "spec"
              "tag"
              "user"]
 :bases ["rest-api"]
 :test-libs {}
 :tests {:include :all}}
