
{:components ["article"
              "comment"
              "database"
              "env"
              "log"
              "profile"
              "spec"
              "tag"
              "user"]
 :bases ["rest-api"]
 :libraries {:maven {org.clojure/clojure "1.10.0"}}
 :test-libs {}
 :tests {:include :all}}
