
{:alias      "dev"
 :components ["article"
              "comment"
              "database"
              "env"
              "log"
              "profile"
              "spec"
              "tag"
              "user"]
 :bases      ["rest-api"]
 :profiles   {:default ["user"]
              :admin   ["admin"]}
 :test-libs {}
 :tests {:include :all}}
